# ------------------------------------------------------------------
# MySQL Database environment settings
# ------------------------------------------------------------------
# Core MYSQL settings
MYSQL_HOSTNAME=
MYSQL_PORT=

# MySQL root settings
MYSQL_ROOT_NAME=
MYSQL_ROOT_USER=
MYSQL_ROOT_PASSWORD=
MYSQL_CORE_DATABASE=decinka

# MySQL user settings
MYSQL_NAME=decinka_data
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATA_DATABASE=decinka_data

# Custom database URL for SQLAlchemy
DATABASE_CUSTOM_URL=

# ------------------------------------------------------------------
# Django environment settings
# ------------------------------------------------------------------
# Debug mode
DEBUG=True

# Database connection URL
DATABASE_URL=mysql://${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@${MYSQL_HOSTNAME}/${MYSQL_CORE_DATABASE}

# Backend secret key
DJANGO_SECRET_KEY=